td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
    border-collapse: collapse;
}